<input type="hidden">
{{yield}}
{{#if $records}}
	<div class="menu">
		{{#each $records as |record|}}
		<div class="item" data-value={{get record valueAttribute}}>{{get record textAttribute}}</div>
		{{/each}}
	</div>
{{/if}}